<!DOCTYPE html>
<html>
<head>
<title>Blockchain-Product-Verifier</title>
</head>
<body>
<link rel="stylesheet" href="{{ url_for('static', filename='verify.css')}}">



<div class="container">
  <h2 class="title">
    <span class="title-word title-word-1">Blockchain</span>
    <span class="title-word title-word-2">- Product</span>
    <span class="title-word title-word-4">- Verifier</span>
  </h2>
<!--   <div>
  	<h3>Home</h3>
  </div> -->
</div>

<hr>


<h1 style="color: white; padding-top: 0px; font-family: Times New Roman;">QR Code for your product has been generated Successfully.</h1>

<center>
      <iframe src="http://localhost/new%20one%20Fake_product_Detection_Using_Blockchain_Technology%20(1)/Fake_product_Detection_Using_Blockchain_Technology/Code/your_html_page.html" height="620px" width="620px"></iframe>
</center>


<div style=" padding-right: 45px; text-align: right;">
	<a href="http://127.0.0.1:5000/productzone" style="color: white; font-family: Times New Roman; font-size: 20px;">Lets go back to add another product</a>
</div>


</body>
</html>
