<!DOCTYPE html>
<html>
<head>
<title>Blockchain-Product-Verifier</title>
</head>
<body>
<link rel="stylesheet" href="{{ url_for('static', filename='verify.css')}}">


<div class="container">
  <h2 class="title">
    <span class="title-word title-word-1">Blockchain</span>
    <span class="title-word title-word-2">- Product</span>
    <span class="title-word title-word-4">- Verifier</span>
  </h2>
</div>

<hr>


<h1 style="color: white; padding-top: 300px; font-family: Times New Roman;">Verification Failed</h1>

</body>
</html>
