<!DOCTYPE html>
<html>
<head>
	<title> Add a New Product </title>
</head>
<body>

	<h1><center><u>Adding A New Product to Blockchain</u></center></h1>

	<form method="POST" action="http://127.0.0.1:5000/addproduct">
		<blockquote>
			<blockquote>
				<blockquote>
					
					<input type="text" name="brand" placeholder="Product Brnd"><br>
					<input type="text" name="name" placeholder="Product Name"><br>
					<input type="text" name="batch" placeholder="Product Batch Number"><br>
					<input type="text" name="id" placeholder="Product ID"><br>
					<input type="number" name="price" placeholder="Product Price"><br>
					Manufacturing Date:
					<input type="date" name="manfdate" placeholder="Manufacturing Date" /><br>
					Expiry Date:
					<input type="date" name="exprydate" value="" placeholder="Expiring Date"/><br>
					<input type="number" name="size" placeholder="Product Size" /><br>
					<input type="text" name="type" maxlength="30" placeholder="Product Type" /><br>
					<input type="submit" name="submit">
					
				</blockquote>
			</blockquote>
		</blockquote>
	</form>

</body>
</html>