<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Blockchain-Product-Verifier</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='Shoespage.css')}}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='verify.css')}}">
  </head>

<body class="bgimg">

<div class="container">
  <h2 class="title">
    <span class="title-word title-word-1">Blockchain</span>
    <span class="title-word title-word-2">- Product</span>
    <span class="title-word title-word-4">- Verifier</span>
  </h2>
</div>
<hr>

<p>&#9679;  Your Product has been <mark style="font-size: 25px;">Verified Successfully</mark>, The Product is <mark style=" font-size: 35px; background-color: LawnGreen;">AUTHENTIC.</mark> </p>

<br><br><br>
 
  <table align="center" cellpadding = "10">
  <thead>
  <tr>
    <td> BRAND </td>
    <td>
      <b> {{brand}} </b>
    </td>
  </tr>
</thead>
  <tr>
    <td> NAME </td>
    <td>
      <b> {{name}} </b>
    </td>
  </tr>
   
  <tr>
    <td> BATCH </td>
    <td>
      <b> {{batch}} </b>
    </td>
  </tr>
  
  <tr>
    <td> ID </td>
    <td>
      <b> {{id}} </b>
    </td>
  </tr>

  <tr>
    <td> MANUFACTURING DATE </td>
    <td>
      <b> {{manfdate}} </b>
    </td>
  </tr>
  
  <tr>
    <td> PRICE </td>
    <td>
      <b> ₹ {{price}} </b>
    </td>
  </tr>

  <tr>
    <td> SIZE </td>
    <td>
      <b> {{size}} </b>
    </td>
  </tr>
  
  <tr>
    <td> TYPE </td>
    <td>
      <b> {{type}} </b>
    </td>
  </tr>
 </table>
</body>
</html>
<!-- partial -->
  
</body>
</html>
