<!DOCTYPE html>
<html>
<head>
	<title>Verify Your Product</title>

</head>
<body>

<link rel="stylesheet" href="{{ url_for('static', filename='verify.css')}}">

<div class="container">
  <h2 class="title">
    <span class="title-word title-word-1">Blockchain</span>
    <span class="title-word title-word-2">- Product</span>
    <span class="title-word title-word-4">- Verifier</span>
  </h2>
</div>
<hr>
<p>&#9679;  Click on the <mark>Verify Button</mark> to verify your Product.</p>
<br><br>
<br><br>
<br><br>
<center>
<div class="card">
  <div class="container">
    <form method="POST" action="http://127.0.0.1:5000/verify">
            <input class="r1" type="text" name="keyId" value={{keyId}}>
            <br><br><br>
            <button class="button1" type="submit">Verify</button>
    </form>
  </div>
</div>
  
<!-- <a href="https://abubakersaeed.netlify.app/designs/d10-parallax-tilt-effect-cards" class="abs-site-link" rel="nofollow noreferrer" target="_blank">abs/designs/d10-parallax-tilt-effect-cards</a> -->

</body>
</html>